---
layout: callout
title: Geolocation Technology Company
promo:
categories: []
tags: []
slug: home
lang: en
---

<!--=== Content Part ===-->
<div class="container">		

	<div class="title-box {{page.slug}}">
	    <div class="title-box-text">Welcome to <span class="color-green">Georepublic</span></div>
	    <p>A Geolocation Technology Company</p>
	</div>

	<!--=== Blocks ===-->
	{% include widgets/blocks.html keys="foss4g opendata opengov mobile analysis routing" %}
	<!--=== End Blocks ===-->

	<hr class="margin-bottom-40">

	<!--=== Products ===-->
	<div class="headline"><h2>Recent Works</h2></div>
	{% include widgets/category.html category="products" maxitems = "****" width="3" image="true" %}
	<!--=== End Products ===-->

</div>

