<div class="headline"><h2>{{site.data.i18n.footer.contact.headline[page.lang]}}</h2></div> 

<strong>{{site.data.i18n.footer.contact.ja.title[page.lang]}} <a href="{{site.baseurl}}{{page.lang}}/contact.html"><i class="icon-share"></i></a></strong>

<address class="md-margin-bottom-40">
    {{site.data.i18n.footer.contact.ja.address[page.lang]}}<br />
    <i class="icon-phone-sign"></i> {{site.data.i18n.footer.contact.ja.phone[page.lang]}}<br />
    <i class="icon-envelope-alt"></i> {{site.data.i18n.footer.contact.ja.email[page.lang]}}
</address>

<strong>{{site.data.i18n.footer.contact.de.title[page.lang]}} <a href="{{site.baseurl}}{{page.lang}}/contact.html"><i class="icon-share"></i></a></strong>

    <address class="md-margin-bottom-40">
    {{site.data.i18n.footer.contact.de.address[page.lang]}}<br />
    <i class="icon-phone-sign"></i> {{site.data.i18n.footer.contact.de.phone[page.lang]}}<br />
    <i class="icon-envelope-alt"></i> {{site.data.i18n.footer.contact.de.email[page.lang]}}
</address>

