<div class="headline"><h2>{{site.data.i18n.footer.social.headline[page.lang]}}</h2></div> 
<ul class="social-icons">
    <li><a href="{{site.baseurl}}blog/feed.rss" data-original-title="Feed" class="social_rss"></a></li>
    <li><a href="{{site.data.links.social.facebook}}" data-original-title="Facebook" class="social_facebook"></a></li>
    <li><a href="{{site.data.links.social.twitter}}" data-original-title="Twitter" class="social_twitter"></a></li>
    <li><a href="{{site.data.links.social.google}}" data-original-title="Goole Plus" class="social_googleplus"></a></li>
    <li><a href="{{site.data.links.social.linkedin}}" data-original-title="Linkedin" class="social_linkedin"></a></li>
</ul>