<div class="modal" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="modalSubscribe" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Subscribe to our Newsletter</h4>
            </div>
            <div class="modal-body">
                {% include widgets/subscribe.html %}
            </div>
            <!-- <div class="modal-footer"></div> -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->