<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">            
        <p class="copyright-space">
          {{site.data.i18n.copyright-text[page.lang]}} 
          <a href="{{site.baseurl}}{{page.lang}}/imprint.html">{{site.data.i18n.copyright-imprint[page.lang]}}</a> | 
          <a href="{{site.baseurl}}{{page.lang}}/disclaimer.html">{{site.data.i18n.copyright-disclaimer[page.lang]}}</a>
        </p>
      </div>
      <div class="col-md-6">  
        <a href="{{site.baseurl}}{{page.lang}}">
          <img id="logo-footer" src="{{site.baseurl}}assets/img/logo2-georepublic.png" class="pull-right" alt="Logo" />
        </a>
      </div>
    </div><!--/row-->
  </div><!--/container--> 
</div><!--/copyright--> 
