<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">{{site.data.i18n.navigation-toggle[page.lang]}}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}{{page.lang}}">
                    <img id="logo-header" src="{{site.baseurl}}assets/img/logo1-georepublic.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="{{site.baseurl}}{{page.lang}}/products" data-target="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            {{site.data.i18n.navigation.products[page.lang]}}
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}{{page.lang}}/products">{{site.data.i18n.navigation-overview[page.lang]}}</a>
                            {% for p in site.pages do %}
                                {% if p.lang == page.lang %}
                                    {% if p.categories contains 'products' %}
                                        <li class="{% if p.url == page.url %}active{% endif %}"><a href="{{p.url}}">{{p.title}}</a></li>  
                                    {% endif %}
                                {% endif %}
                            {% endfor %}                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{site.baseurl}}{{page.lang}}/services" data-target="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            {{site.data.i18n.navigation.services[page.lang]}}
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}{{page.lang}}/services">{{site.data.i18n.navigation-overview[page.lang]}}</a>
                            {% for p in site.pages do %}
                                {% if p.lang == page.lang %}
                                    {% if p.categories contains 'services' %}
                                        <li class="{% if p.url == page.url %}active{% endif %}"><a href="{{p.url}}">{{p.title}}</a></li>  
                                    {% endif %}
                                {% endif %}
                            {% endfor %}                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{site.baseurl}}{{page.lang}}/projects" data-target="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            {{site.data.i18n.navigation.projects[page.lang]}}
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}{{page.lang}}/projects">{{site.data.i18n.navigation-overview[page.lang]}}</a>
                            {% for p in site.pages do %}
                                {% if p.lang == page.lang %}
                                    {% if p.categories contains 'projects' %}
                                        <li class="{% if p.url == page.url %}active{% endif %}"><a href="{{p.url}}">{{p.title}}</a></li>  
                                    {% endif %}
                                {% endif %}
                            {% endfor %}                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{site.baseurl}}{{page.lang}}/company" data-target="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            {{site.data.i18n.navigation.company[page.lang]}}
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}{{page.lang}}/company">{{site.data.i18n.navigation-overview[page.lang]}}</a>
                            {% for p in site.pages do %}
                                {% if p.lang == page.lang %}
                                    {% if p.categories contains 'company' %}
                                        <li class="{% if p.url == page.url %}active{% endif %}"><a href="{{p.url}}">{{p.title}}</a></li>  
                                    {% endif %}
                                {% endif %}
                            {% endfor %}                            
                        </ul>
                    </li>                    
                    <li class="dropdown">
                        <a href="http://blog.georepublic.info">
                            {{site.data.i18n.navigation.blog[page.lang]}}
                        </a>
                    </li>                    
                    <li class="dropdown">
                        <a href="{{site.baseurl}}{{page.lang}}/contact.html">
                            {{site.data.i18n.navigation.contact[page.lang]}}
                        </a>
                    </li>                    
                    <!-- <li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li> -->
                </ul>
                <div class="search-open">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{site.data.i18n.navigation-search-field[page.lang]}}">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">{{site.data.i18n.navigation-search-button[page.lang]}}</button>
                        </span>
                    </div><!-- /input-group -->
                </div>                
            </div><!-- /navbar-collapse -->
        </div>    
    </div>    
</div><!--/header-->
