<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">{{site.data.i18n.navigation.toggle[page.lang]}}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}{{page.lang}}">
                    <img id="logo-header" src="{{site.baseurl}}assets/img/georepublic/logo_header.png" alt="Georepublic">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% include header/dropdown.html keys="products services projects company" %}
                    
                    <li class="dropdown">
                        <a href="{{site.baseurl}}{{page.lang}}/{{category}}" data-target="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            {{site.data.i18n.navigation.blog[page.lang]}}
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{site.baseurl}}{{page.lang}}/blog">{{site.data.i18n.navigation.blog.latest[page.lang]}}</a></li>
                            <li><a href="{{site.baseurl}}blog">{{site.data.i18n.navigation.blog.archive[page.lang]}}</a></li>                         
                        </ul>
                    </li>    

                    <li class="dropdown">
                        <a href="{{site.baseurl}}{{page.lang}}/contact">
                            {{site.data.i18n.navigation.contact[page.lang]}}
                        </a>
                    </li>                    
                    <!-- <li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li> -->
                </ul>
                <div class="search-open">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{site.data.i18n.navigation.search.field[page.lang]}}">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">{{site.data.i18n.navigation.search.button[page.lang]}}</button>
                        </span>
                    </div><!-- /input-group -->
                </div>                
            </div><!-- /navbar-collapse -->
        </div>    
    </div>    
</div><!--/header-->
