<div class="topbar">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li>
                <i class="fa fa-globe"></i>
            </li>

            <li class="{% if page.lang == "en" %}active{% endif %}">
                <a href="{{site.baseurl}}en/">English {% if page.lang == "en" %}<i class="fa fa-check"></i>{% endif %}
                </a>
            </li>
            <li class="topbar-devider"></li>   
            <li class="{% if page.lang == "de" %}active{% endif %}">
                <a href="{{site.baseurl}}de/">Deutsch {% if page.lang == "de" %}<i class="fa fa-check"></i>{% endif %}
                </a>
            </li>
            <li class="topbar-devider"></li>   
            <li class="{% if page.lang == "ja" %}active{% endif %}">
                <a href="{{site.baseurl}}ja/">日本語 {% if page.lang == "ja" %}<i class="fa fa-check"></i>{% endif %}
                </a>
            </li>
        </ul>
    </div>      
</div><!--/top-->
