<div class="headline headline-md"><h2>Unsubscribe from our Newsletter</h2></div>

<p>Get in touch. <strong>Interested in 知らせて.jp?</strong> We’d love to hear from you. <a class="color-green" href="{{site.baseurl}}contact">Contact us</a> and we will get back to you as soon as I can.</p>

<ul class="list-inline style-icons text-center">
    <li><a href="{{site.data.links.social.facebook}}"><i class="icon-facebook icon-round icon-round-sm icon-color-grey"></i></a></li>
    <li><a href="{{site.data.links.social.twitter}}"><i class="icon-google-plus icon-round icon-round-sm icon-color-grey"></i></a></li>
    <li><a href="{{site.data.links.social.google}}"><i class="icon-twitter icon-round icon-round-sm icon-color-grey"></i></a></li>
    <li><a href="{{site.data.links.social.linkedin}}"><i class="icon-linkedin icon-round icon-round-sm icon-color-grey"></i></a></li>
</ul>

<p><a class="color-green" href="{{site.baseurl}}newsletter">Subscribe to our newsletter</a> and <strong>stay up to date</strong> with the latest news and deals!</p>

<form action="{{site.data.links.newsletter.unsubscribe}}" onkeypress="return event.keyCode != 13;">
    <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="icon-envelope"></i></span>
        <input type="text" class="form-control" name="email" placeholder="メールアドレス">
        <input type="hidden" name="list" value="{{site.data.links.newsletter.apikey[page.lang]}}">
        <input type="hidden" name="boolean" value="true">
    </div>
    <hr>
                            
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <button type="button" class="btn-u btn-block sendy" data-loading-text="Sending...">Unsubscribe</button>
        </div>
    </div>
</form>
