<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>{{ site.name }} | {{ page.title }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.name }} - {{ page.title }}">
    <meta name="author" content="Georepublic">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/css/style.css">
    <link rel="shortcut icon" href="{{site.imgurl}}/favicon.png">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/plugins/font-awesome/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/plugins/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/plugins/layer_slider/css/layerslider.css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/css/pages/page_pricing.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/css/themes/orange.css">    
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}assets/css/custom.css">   
</head> 

<body class="header-fixed">
<div class="wrapper">
    <!--=== Header ===-->    
    {% include header.html %}
    <!--=== End Header ===-->    

    <!--=== Content Part ===-->
    {{content}}
    <!-- End Content Part -->

    <!--=== Modals ===-->
    {% include modals/newsletter.html %}
    <!--=== End Modals ===-->

    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    {% include copyright.html %}
    <!--=== End Copyright ===-->
</div>

<!-- JS Global Compulsory -->     
<script type="text/javascript" src="{{site.baseurl}}assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="{{site.baseurl}}assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="{{site.baseurl}}assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}assets/plugins/bxslider/jquery.bxslider.js"></script>
<!-- Layer Slider -->
<script type="text/javascript" src="{{site.baseurl}}assets/plugins/layer_slider/jQuery/jquery-easing-1.3.js"></script>
<script type="text/javascript" src="{{site.baseurl}}assets/plugins/layer_slider/jQuery/jquery-transit-modified.js"></script>
<script type="text/javascript" src="{{site.baseurl}}assets/plugins/layer_slider/js/layerslider.transitions.js"></script>
<script type="text/javascript" src="{{site.baseurl}}assets/plugins/layer_slider/js/layerslider.kreaturamedia.jquery.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="{{site.baseurl}}assets/js/app.js"></script>
<script type="text/javascript" src="{{site.baseurl}}assets/js/pages/index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        App.initBxSlider();
        Index.initLayerSlider();
    });
</script>
<script type="text/javascript" src="{{site.baseurl}}assets/js/custom.js"></script>
<!--[if lt IE 9]>
    <script src="{{site.baseurl}}assets/plugins/respond.js"></script>
<![endif]-->

<!--=== Analytics ===-->
{% include analytics.html %}
<!--=== End Analytics ===-->
</body>
</html> 

