<div class="headline"><h2>Blog Tags</h2></div>
<ul class="list-unstyled blog-tags margin-bottom-30">
    <li><a href="#"><i class="fa fa-tag"></i> GIS</a></li>
    <li><a href="#"><i class="fa fa-tag"></i> FOSS4G</a></li>
    <li><a href="#"><i class="fa fa-tag"></i> OSGeo</a></li>
    <li><a href="#"><i class="fa fa-tag"></i> OpenGov</a></li>
    <li><a href="#"><i class="fa fa-tag"></i> OSM</a></li>
    <li><a href="#"><i class="fa fa-tag"></i> iOS</a></li>
    <li><a href="#"><i class="fa fa-tag"></i> Android</a></li>
    <li><a href="#"><i class="fa fa-tag"></i> HTML5</a></li>
    <li><a href="#"><i class="fa fa-tag"></i> pgRouting</a></li>
    <li><a href="#"><i class="fa fa-tag"></i> PostGIS</a></li>
    <li><a href="#"><i class="fa fa-tag"></i> Geodata</a></li>
</ul>